<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../style.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>Temperature</title>
</head>
<body>
    <nav>
        <div class="heading">
            <h4>IOT PROJECT</h4>
        </div>
        <ul class="nav-link">
            <li><a href="../index.html">Home</a></li>
            <li><a class="active"  href="temperature.html">temperature</a></li>
            <li><a href="humidity.html">humidity</a></li>
            <li><a href="rain.html">Rain</a></li>
        </ul>
    </nav>
    <div id="diagram">
        <canvas id="myChart"></canvas>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="temperature.js"></script>
</body>
</html>