*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.body-text{
    display: flex;
    font-family: "Monterrat",sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}
#diagram{
    width: 60vw;
    height:70vw;
    margin: 5vw 20vw;
}
nav{
    margin: 0px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:brown;

}
.nav-link{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-link a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
}
.nav-link li{
    list-style: none;    
}
.heading{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-link a.hover:not(.active){
    background-color: red;
}

.nav-link a.active{
    background-color:burlywood;

}
